[Unit]
Description=Rclone WebDav Service
Wants=network-online.target
After=network-online.target rclone_webdav.service

[Service]
ExecStart=/data/rclone/ban_failed_users.sh
Restart=always

[Install]
WantedBy=multi-user.target
